.audio-player {
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--surface-ground);
  border-radius: 5px;
  padding: 10px;

  .play-pause-btn {
    background: var(--color-secondary);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s;

    i {
      font-size: 20px;
      color: var(--text-color);
    }

    &.playing {
      background: $accent;
    }
  }

  .progress-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .progress-bar {
      width: 100%;
      appearance: none;
      background: $base-bg-color;
      height: 5px;
      border-radius: 5px;
      outline: none;
      margin-bottom: 5px;

      &::-webkit-slider-thumb {
        appearance: none;
        width: 10px;
        height: 10px;
        background: $primary;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .time-display {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      color: $base-text-color;
    }
  }
}