<div class="audio-player">
  <div class="row">
    <div class="col-1 text-nowrap">
      <p-buttonGroup>
        <p-button severity="warning"
          (onClick)="togglePlayPause()"
          icon="pi pi-angle-left"></p-button>
        <p-button severity="warning"
          (onClick)="togglePlayPause()"
          icon="pi pi-play"></p-button>
        <p-button severity="warning"
          (onClick)="togglePlayPause()"
          icon="pi pi-angle-right"></p-button>
      </p-buttonGroup>
    </div>
    <div class="col">

    </div>
  </div>
</div>
<!--<div class="audio-player">
  <p-button severity="warning"
    (onClick)="togglePlayPause()"
    icon="pi pi-play"></p-button>
  <div class="progress-container">
    <input type="range"
      class="progress-bar"
      [value]="currentTime"
      [max]="duration"
      (input)="onSeek($event)" />
    <div class="time-display">
      <span>{{ formatTime(currentTime) }}</span>
      <span>{{ formatTime(duration) }}</span>
    </div>
  </div>
</div>-->
<audio #audioPlayer
  (timeupdate)="updateProgress()"
  (loadedmetadata)="updateMetadata()">
  <source [src]="songUrl"
    type="audio/mpeg" />
  Your browser does not support the audio element.
</audio>