# Database Configuration
DB_SERVER=localhost
DB_PORT=5432
DB_DATABASE=lmf_db_oneuser
DB_USER=postgres
DB_PASS=your_password

# Server Configuration
HTTP_PORT=3000
NODE_ENV=development

# Python Configuration
PYTHON_PATH=python

# File Paths
AUDIO_PATH=./files/audio
MODELS_PATH=./files/models
SPECTROGRAMS_PATH=./files/spectrograms
FEATURES_PATH=./files/features
