# Database Configuration
DB_SERVER = string
DB_PORT = number
DB_DATABASE = string
DB_USER = string
DB_PASS = string

# Server Configuration
HTTP_PORT = number
NODE_ENV = string

# Python Configuration
PYTHON_PATH = string

# File Paths
AUDIO_PATH = string
AUDIO_ONBOARD_PATH = string
MODELS_PATH = string
SPECTROGRAMS_PATH = string
FEATURES_PATH = string
VOCADB_YOUTUBE_LINKS_REPORTS_PATH = string

TS_CONFIG_DEAFULT_EPOCHS = number
TS_CONFIG_DEAFULT_BATCH_SIZE = number
TS_CONFIG_DEAFULT_LEARNING_RATE = number
TS_CONFIG_DEAFULT_NUM_CLASSES = number
TS_CONFIG_DEAFULT_INPUT_DIM = number
TS_CONFIG_DEAFULT_VALIDATION_SPLIT = number
