/*Colores distintivos de la apliación*/
$base-color1: #46f0be;
$base-color2: #f0c81e;
$base-color3: #8278e6;
$base-color4: #f0fafa;

$base-color5: #0032c8;
$base-color6: #00b400;
$base-color7: #fadc00;
$base-color8: #fa6400;

/*Sobreescritura de los colores en Bootstrap*/
$body-bg: darken($base-color3, 64%);
$body-color: $base-color4;
$primary: $base-color5;
$success: $base-color6;
$info: $base-color1;
$warning: $base-color7;
$danger: $base-color8;

/*Sobreescritura de las fuentes de Bootstrap*/
$font-family-base: 'Calibri', sans-serif;

/*Importación de variables de Bootstrap para su sobreescritura*/
@import "../node_modules/bootstrap/scss/bootstrap";