@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import '../node_modules/bootstrap/scss/functions';
// Definir tus variables personalizadas
$base-color: #00bfda;
$base-text-color: #ffffff; // Establecer el color del texto en blanco para mejor legibilidad
$base-bg-color: #121212; // Fondo oscuro

// Sobrescribir variables de Bootstrap
$body-bg: $base-bg-color;
$body-color: $base-text-color;
$link-color: $base-color;
$link-hover-color: lighten($base-color, 10%);
$btn-primary-bg: $base-color;
$btn-primary-border: $base-color;

@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/variables-dark';
@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/utilities/api';

:root {
  --surface-ground: $base-bg-color;
  --surface-card: lighten($base-bg-color, 10%);
  --text-color: $base-text-color;
  --primary-color: $base-color;
  --primary-color-text: $base-text-color;
  --button-bg: $base-color;
  --button-text-color: $base-text-color;
  --menubar-bg: #00c4df; // Color de fondo de la barra
  --menubar-text-color: #ffffff; // Color del texto
  --color-secondary: $secondary;
  --color-accent: $accent;
  --color-primary: $primary;
}

html,
body,
.app-container {
  background-color: $base-bg-color; // Fondo oscuro
  color: $base-text-color; // Texto claro
}

.main-container {
  .p-menubar {
    background-color: var(--menubar-bg);
    color: var(--menubar-text-color);
  }

  .p-menubar-root .p-menuitem-link {
    color: var(--menubar-text-color);
  }
}