.main-container {
  .p-menubar {

    .menu-title {
      font-weight: bold;
      font-size: 1.2rem;
    }

    .rounded-circle {
      border: 2px solid #fff;
    }
  }

  .logo {
    height: 40px;
  }

  .p-menubar-end {
    display: flex;
    align-items: center;
  }
}