<div class="main-container">
  <p-menubar [model]="menuItems">
    <ng-template pTemplate="start">
      <img src="assets/img/profileempty.jpg" alt="Logo" class="logo" />
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2">
        <p-avatar image="assets/img/profileempty.jpg" shape="circle" />
        <div class="card flex d-sm-inline">
          <p-menu #menu [model]="profileItems" [popup]="true" />
          <button pButton (click)="menu.toggle($event)" icon="pi pi-ellipsis-v" iconPos="right"
            class="p-button-text text-white"></button>
        </div>
        <button pButton icon="pi pi-bell" class="p-button-rounded p-button-text text-white"></button>
      </div>
    </ng-template>
  </p-menubar>
  <router-outlet></router-outlet>
</div>