<br>
<div #canvasWrapper
  class="canvas-wrapper">
  <canvas class="spec-canvas"
    #canvas></canvas>
  <canvas class="line-canvas"
    #overlayCanvas></canvas>

</div>
<br>
<p-button label="Reproducir"
  [disabled]="http.busy||loader.busy"
  (click)="playSong()"></p-button>
<p-button label="Detener"
  severity="secondary"
  (click)="stopSong()"></p-button>
<br>
<input type="number"
  name="idSong"
  id="idSong"
  [disabled]="http.busy||loader.busy"
  [(ngModel)]="idSong">
<p-button label="Cargar espectrograma"
  [disabled]="http.busy||loader.busy"
  (click)="loadSpectrogram()"
  severity="success"></p-button>
<p-button label="Detener"
  (click)="stopLoading()"
  severity="danger"></p-button><br>
<h3>Estadisticas:</h3>
<ul>
  <li><b>Inicio de la canción: </b>{{spec.firstIndex}}</li>
  <li><b>Fin de la canción: </b>{{spec.lastIndex}}</li>
  <li><b>Valor normalizado: </b>{{spec.maxValue}}</li>
</ul>