#CONFIGURACIONES PARA EL PROYECTO PÚBLICO
#Configuración de la base de datos
PORT = number
DB_HOST = string
DB_PORT = number
DB_USERNAME = string
DB_PASSWORD = string
DB_DATABASE = string
#Configuración de las rutas de los archivos (omitir la barra al final)
PATH_UPLOADS = string
PATH_FEATURES = string

#CONFIGURACIONES PARA EL PROYECTO DE PRUEBA DE UN USUARIO
#Configuración de la base de datos
TS_PORT = number
TS_DB_HOST = string
TS_DB_PORT = number
TS_DB_USERNAME = string
TS_DB_PASSWORD = string
TS_DB_DATABASE = string
#Configuración de las rutas de los archivos (omitir la barra al final)
TS_PATH_UPLOADS = string
TS_PATH_FEATURES = string
TS_PATH_MODELS = string
#Configuración de las épocas de los modelos
TS_EPOCHSNUM_SCORE1 = number
TS_EPOCHSNUM_SCORE2 = number
TS_EPOCHSNUM_SCORE3 = number
#Configuración de los tipos de datos
TS_DATATYPE_FILE = number
TS_DATATYPE_LINK = number