.star-rated {
  font-size: 24px;
  cursor: pointer;
  margin-right: 8px;
  color: #FFD700;
}

.star-disabled {
  font-size: 24px;
  margin-right: 8px;
  color: #a8a8a8;
}

.table-scroll {
  max-height: 300px !important;
  overflow-y: scroll;
}

.rate-col {
  min-width: 115px;
}

.icon-td-size {
  font-size: 24px
}