<div class="container-xxl mb-5">
  <h1>Entrenamiento</h1>
  <div class="row">
    <div class="col-md-3">
      <div *ngIf="playlists.list.length === 0; else notEmpty">
        <span>(No hay listas de reproducción)</span><br><br>
        <button pButton
          type="button"
          label="Crear lista"
          icon="pi pi-plus"
          severity="success"
          [outlined]="true"
          class="p-button-sm"></button>
      </div>

      <ng-template #notEmpty>
        <label for="">Selecciona una lista de reproducción:</label>
        <p-listbox [options]="playlists.list"
          optionLabel="name"
          [(ngModel)]="playlists.selected" />
      </ng-template>


    </div>
    <div class="col-md">
      Ipsum minim laborum exercitation labore occaecat excepteur velit dolore quis laborum consectetur nulla
      adipisicing. Tempor et ipsum irure cupidatat deserunt. Voluptate est eu ex elit enim dolore reprehenderit
      voluptate aliqua ex ipsum. Dolor id nulla incididunt incididunt proident do officia ex eu in. Proident
      reprehenderit eu qui ex qui cillum est excepteur incididunt esse voluptate culpa culpa. Lorem velit quis culpa
      laborum aute consectetur.
    </div>
  </div>


  <!--<h1>Prueba 1</h1>
  <div class="row">
    <div class="col-md-6">
      <h3>Entrenamiento:</h3>
      <table class="table table-dark table-hover table-scroll">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col"
              class="rate-col">Puntuación</th>
            <th scope="col">Status</th>
            <th scope="col">Opción</th>
            <th scope="col">Features</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of songs.listForTrain; let i=index">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>
              <div *ngIf="item.tsInitStatus=='train'; else scoreDisabled">
                <ng-container *ngFor="let star of rating.stars; let ist = index">
                  <i class="star-rated pi"
                    [ngClass]="item.userScore !== null && ist < item.userScore! ? 'pi-star-fill' : 'pi-star'"
                    (click)="rate(i,ist + 1,'train')"></i>
                </ng-container>
              </div>
              <ng-template #scoreDisabled>
                <ng-container *ngFor="let star of rating.stars; let ist = index">
                  <i class="star-disabled pi"
                    [ngClass]="item.userScore!==null && ist < item.userScore ? 'pi-star-fill' : 'pi-star'"></i>
                </ng-container>
              </ng-template>
            </td>
            <td class="text-center">
              <div *ngIf="item.storageStatus=='error'||item.tsStatus=='error'; else partialError">
                <i class="pi pi-exclamation-triangle text-danger icon-td-size"></i>
              </div>
              <ng-template #partialError>
                <i class="pi pi-spin pi-spinner icon-td-size"
                  *ngIf="item.storageStatus=='uploading'||item.storageStatus=='downloading'||item.tsStatus=='training'"></i>
                <i *ngIf="item.tsStatus=='trained'||item.tsStatus=='retrained'"
                  class="fa-solid fa-dumbbell text-primary icon-td-size"></i>

                <i *ngIf="item.tsInitStatus=='train'"
                  class="fa-solid fa-dumbbell text-success icon-td-size"></i>
                <i *ngIf="item.tsInitStatus=='retrain'"
                  class="fa-solid fa-dumbbell text-success icon-td-size"
                  pBadge
                  value="1"></i>
              </ng-template>
            </td>
            <td>
              <button pButton
                type="button"
                size="small"
                [outlined]="true"
                icon="fa-solid fa-circle-play"
                severity="success"
                (click)="play(i,'train')"></button>
            </td>
            <td>
              <div *ngIf="item.tsFeaturesDimensions=='error'">
                <i class="pi pi-exclamation-triangle"
                  style="font-size: 24px; color: red;"></i>
              </div>
              <div *ngIf="item.tsFeaturesDimensions===undefined">
                --
              </div>
              <div *ngIf="item.tsFeaturesDimensions!==undefined">
                {{item.tsFeaturesDimensions}}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="mb-3">
        <label for="file">Cargar canción</label>
        <p-fileUpload mode="basic"
          chooseLabel="Cargar"
          chooseIcon="pi pi-upload"
          name="file"
          url="https://www.primefaces.org/cdn/api/upload.php"
          accept="audio/mpeg,audio/mpg,audio/mpeg3,audio/mp3,"
          maxFileSize="100000000"
          (onSelect)="uploadSongsProcess($event, 'train')"
          [auto]="true"
          [multiple]="true" />
      </div><br>
      <button pButton
        type="button"
        severity="success"
        (click)="getSongTsFeatures('train')"
        [disabled]="tsFeatures.busy"
        label="Obtener características de las canciones calificadas y entrenar">
      </button><br>
      <button pButton
        type="button"
        severity="danger"
        (click)="stopTsFeaturesPool()"
        [disabled]="!tsFeatures.busy">
        Detener extracción
      </button>
    </div>
    <div class="col-md-6">
      <h3>Predicción:</h3>
      <button pButton
        type="button"
        severity="success"
        (click)="getSongTsFeatures('predict')"
        [disabled]="tsFeatures.busy">
        Obtener características de las canciones y predecir
      </button><br>
      <button pButton
        type="button"
        severity="danger"
        (click)="stopTsFeaturesPool()"
        [disabled]="!tsFeatures.busy">
        Detener extracción
      </button>
    </div>
  </div>-->
</div>