<div class="audio-player">
  <div class="d-flex w-100 flex-nowrap">
    <div class="text-nowrap d-flex align-items-center p-1">
      <div class="flex gap-1">
        <button class="btn btn-warning btn-sm"
          (click)="previous()">
          <i class="fas fa-step-backward"></i>
        </button>
        <button class="btn btn-warning btn-sm"
          (click)="isPlaying? pause() : play()">
          <i [class]="isPlaying ? 'fas fa-pause' : 'fas fa-play'"></i>
        </button>
        <button class="btn btn-warning btn-sm"
          (click)="next()">
          <i class="fas fa-step-forward"></i>
        </button>
      </div>
    </div>
    <div class="p-1">
      <div class="d-flex w-100 flex-nowrap justify-content-between">
        <div class="progress-container">
          <input type="range"
            class="progress-bar"
            [value]="currentTime"
            [max]="duration"
            (input)="onSeek($event)" />
          <div class="time-display">
            <span>{{ formatTime(currentTime) }}</span>
            <span>{{ formatTime(duration) }}</span>
          </div>
        </div>
        <div class="text-nowrap justify-content-center pl-1">
          <i class="star-rated fas fa-star"></i>
          <i class="star-rated fas fa-star"></i>
          <i class="star-rated fas fa-star"></i>
          <i class="star-rated fas fa-star"></i>
        </div>
      </div>
      <div class="d-flex text-nowrap overflow-auto row-caption">
        {{caption}}
      </div>
    </div>
  </div>
</div>
<audio #audioPlayer
  (timeupdate)="updateProgress()"
  (loadedmetadata)="updateMetadata()">
  <source [src]="urlSong"
    type="audio/mpeg" />
  Your browser does not support the audio element.
</audio>