<div class="main-container">
  <div class="menubar-container"
    [ngClass]="{'show': menubarVisible, 'hide': !menubarVisible}"
    [style.display]="menubarVisible ? 'block' : 'hidden'"
    (mouseleave)="hideMenubar()"
    (mouseenter)="clearTimer()">
    <p-menubar [model]="menuItems">
      <ng-template pTemplate="start">
        <img src="assets/img/profileempty.jpg"
          alt="Logo"
          class="logo" />
      </ng-template>
    </p-menubar>
  </div>
  <div class="pullbar"
    (mouseenter)="showMenuBar()"
    [style.display]="menubarVisible ?'none':'block'"></div>
  <router-outlet /><br><br>
  <app-player class="fixed-player"></app-player>
</div>